.header-second{
    background: url('../images/img/index1.jpg') no-repeat center;
    background-size: cover;
    min-height: 600px;
}
.header-second h3{
    margin-top: 6em;
    font-size: 2em;
    font-weight: 800;
    color:#fff;
    font-family: 'Abel-Regular';
    margin-bottom: 0.5em;
}
.header-second p{
    font-size: 2em;
    font-weight: 800;
    color:#fff;
}
.contacts{
    background-color: #efefef;
}
.contacts .container .row .contacts-top{
    text-align: center;
    margin: 5em auto;
}
.contacts .container .row .contacts-buttom{
    text-align: center;
    margin: 0em 0em 5em 0em;
}
.contacts .container .row .contacts-buttom p{
    color: #101010;
    font-family: 'Abel-Regular';
}
.contacts .container .row .contacts-buttom p a{
    text-decoration: none;
}
.contacts .container .row .contacts-top h3{
    margin-bottom: 1em;
    color: #101010;
    font-family: 'Abel-Regular';
}
.contacts .container .row .col-md-6 .col-md-10{
    margin-bottom: 5em;
}
.contacts .container .row .col-md-6 .col-md-10 h4{
    margin-bottom: 1em;
    color: #101010;
}
.contacts .container .row .col-md-6 .col-md-10 p{
    color: #4e4e4e;
}
@media(max-width:1024px){
    .header-second{
      min-height: 580px;
    }
    .header-second h3{
      font-size: 1.6em;
    }
    .header-second p{
      font-size: 1em;
    }
}
@media(max-width:990px){
    .header-second h3{
        font-size: 1em;
    }
    .header-second p{
        font-size: 1em;
    }
}
@media(max-width:768px){
    .header-second{
        min-height: 420px;
    }
}
@media(max-width:640px){
    .header-second{
        min-height: 360px;
    }
}
@media(max-width:480px){
    .header-second{
        min-height: 300px;
    }
}
@media (max-width: 376px) {
    .header-second h3{
        font-size: 0.9em;
    }
    .header-second p{
        font-size: 0.9em;
    }
}
@media(max-width:320px){
    .header-second{
        min-height: 230px;
    }
    .header-second h3{
        font-size: 0.7em;
    }
    .header-second p{
        font-size: 0.7em;
    }
}