/* Custom Styles */
.newstop{
    margin: 5em auto;
    text-align: center;
}
.newstop h1{
    color: #0066cb;
    padding: 0.3em 0em;
}
ul.nav-tabs{
    width: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    font-style:italic;
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 4px 5px;
    border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
}
.news h3{
    margin: 0em 0.5em;
    color: #294047;
}
.news h5{
    margin: 0em 1em;
    color: #101010;
    font-style:italic;
}
.news p{
    color: #294047;
    padding: 0.5em 0em 0em;
}
.news a{
    text-decoration:none;
    font-size: large;
}
#section-1,#section-2,#section-3,#section-4,#section-5{
    margin-bottom: 3em;
}