h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'PT_Sans-Web-Regular';
   font-size: 100%;
   background:#fff; 
}
.bg-primary {
    background-color: #0066cb;
}
.bg-primary .container>.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
.bg-primary .container>.row div{
    text-align: center;
}
.bg-primary .container .row div>img{
    width: 40px;
    height: 40px;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
@font-face {
    font-family: 'Abel-Regular';
    src:url(../fonts/Abel-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'PT_Sans-Web-Regular';
    src:url(../fonts/PT_Sans-Web-Regular.ttf) format('truetype');
}
/*--header start here--*/
span.menu{
  display:none;
}
.logo {
  float: left;
  width: 35%;
}
.top-nav {
  float: right;
  width: 65%;
  text-align: right;
}
.top-nav-right {
  float: right;
  width: 15%;
  padding-top: 0.3em;
}
.logo h1 {
  font-size: 1.2em;
  margin: 0em;
  font-family: 'Abel-Regular';
}
.logo h1 a{
  color:#FFFFFF;
  display: block;
}
.logo h1 a:hover{
  text-decoration:none;
}
span.menu {
  display: none;
}
.header {
  background: #000000;
  box-shadow: 0px 1px 14px #eeeeee;
}
.header-frist{
    background: url('../images/img/index2.jpg') no-repeat center;
    background-size: cover;
    min-height: 640px;
}
.header-frist h3{
    margin-top: 5em;
    font-size: 2em;
    font-weight: 800;
    color:#fff;
    font-family: 'Abel-Regular';
}
.header-frist p{
    font-size: 2em;
    font-weight: 800;
    color:#fff;
}
#video{
    width: 700px;
    height:450px;
}
.header-main {
  padding: 0.5em 0em 0.5em 0em;
}
.top-nav ul {
  list-style: none;
  padding: 0.9em 0em 0em 0em;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.05em;
	padding:0em 1em;
	position:relative;
	z-index: 999;
}
.top-nav ul li a:hover,.top-nav ul li a.active{
	/*color: #B28E40;*/
    color: #0066cb;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.banner {
  background: url(../images/img/bg_header1.jpg) no-repeat center;
  min-height: 700px;
  background-size: cover;
}
.banner-bottom {
  padding: 15em 0em 0em 20em;
  text-align: left;
}
.banner-bottom h3 {
  font-size: 2em;
  font-weight: 400;
  color:#fff;
  font-family: 'Abel-Regular';
}
.banner-bottom p{
    font-size: 1em;
    font-weight: 400;
    color:#fff;
    font-family: 'Abel-Regular';
}
/* Effect 16: fall down */
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 500;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
	text-decoration:none;
}

.cl-effect-16 a {
	color: #000;
}

.cl-effect-16 a::before {
	/*color:#B28E40;*/
    color: #0066cb;
	text-decoration:none;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
/*-header strat here--*/
/*--about strat here--*/
.about {
  padding: 5em 0em 5em 0em;
}
.about-top {
  text-align: center;
  padding: 0em 0em 4em 0em;
}
.about-top h4 {
  font-size: 1.8em;
    color: #101010;
  width: 75%;
  margin: 0.3em auto 0.3em;
  line-height: 1.25em;
}
.about-top h5 {
  font-size: 1.2em;
  color: #000;
  width: 85%;
  line-height: 1.6em;
  margin: 1em auto 1em;
}
.about-top p {
  font-size: 1em;
  color: #919191;
  line-height: 1.8em;
  width: 69%;
  margin: 0.5em auto 0em;
}
.about-grid p {
  font-size: 1em;
  color: #999;
  line-height: 1.8em;
  margin: 0.7em 0em 0em 0em;
}
.about-grid h3 {
  font-size: 1.7em;
  color: #000;
  margin: 0em 0em 0.8em 0em;
  font-family: 'Abel-Regular';
}
/*--about end here--*/

/*--services start here--*/
.services {
  padding: 5em 0em 5em 0em;
  background-color: #eeeeee;
}
.services-top {
  text-align: center;
  padding: 0em 0em 4em 0em;
}
.services-top h3 {
  font-size: 1.5em;
  color:#000000;
  margin-bottom: 0.2em;
  font-family: 'Abel-Regular';
}
.services-top p {
  font-size: 1em;
  color: #919191;
  line-height: 1.8em;
  width: 60%;
  margin: 0 auto;
}
.ser-grid {
  text-align: center;
  margin: 0em 0em 1.5em 0em;
  border: 1em solid #eeeeee;
  box-shadow: 0px 1px 14px #eeeeee;
  background-color: #FFFFFF;
}
.ser-grid h4{
  font-size: 1.5em;
  color: #000000;
  margin: 0.5em 0em 0.5em 0em;
  font-family: 'Abel-Regular';
}
.ser-grid p {
  font-size: 0.8em;
  color: #919191;
  line-height: 1.8em;
  width: 100%;
  margin: 0 auto;
}
span.glyphicon.glyphicon-cog {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
span.glyphicon.glyphicon-erase {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
span.glyphicon.glyphicon-film {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
span.glyphicon.glyphicon-music {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
span.glyphicon.glyphicon-picture {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
span.glyphicon.glyphicon-print {
  color: #fff;
  font-size: 2em;
  transform: rotate(45deg);
}
/*--services end here--*/
/*--testimonal start here--*/
.testimony {
  padding: 5em 0em 5em 0em;
  background: url(../images/test.jpg)no-repeat;
  min-height: 300px;
  background-size: cover;
}
.testimony-main {
  position: relative;
}
.testimony-left img {
  border-radius: 149px;
}
.testimony-left {
  width: 30%;
  float: left;
  border-right: 4px double #999;
}
.testimony-right {
  float: right;
  width: 60%;
  margin: 1em 0em 0em 0em;
}
span.glyphicon.glyphicon-comment {
  font-size: 2em;
  color: #fff;
}
.testimony-right p {
  font-size: 1em;
  color: #fff;
  line-height: 1.8em;
}
.testimony-right h4 {
  font-size: 1.3em;
  /*color:#B28E40;*/
  color:  #ffffff;
  margin: 0.5em 0em 0em 0em;
  font-family: 'Abel-Regular';
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width:55%;
  border: 0;
  }


span.bg-small {
	background: rgba(0, 0, 0, 0.39);
	display: block;
	width: 40%;
	height: 48px;
	position: absolute;
	top: 83px;
	left: -40px;
}
span.bg-large {
	background: rgba(0, 0, 0, 0.39);
	display: block;
	width: 60%;
	height: 70px;
	position: absolute;
	top: 194px;
	left: -40px;
}

a.morebtn{
	background:#3D3D3D;
	padding:0.8em 0;
	display:block;
	font-size:0.875em;
	text-transform:uppercase;
	color:#FFF;
	width:20%;
	margin:0 auto;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
a.morebtn:hover{
	background:#585686;
}
.callbacks_nav {
    position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 128%;
  left: 90%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 33px;
  width: 25px;
  background: url("../images/4.png") no-repeat left top;
  margin-top: -45px;
  border-radius: 100%;
}
.callbacks_nav.next {
  left: auto;
background:url("../images/3.png") no-repeat left top;
  right: 5%;
 }
/*--testimonal end here--*/
/*--gallery start here--*/
.gallery {
  padding: 5em 0em 5em 0em;
}
.gallery-grid {
  /*margin: 0em 0em 2em 0em;*/
}
/*--light-box--*/
.project-eff:hover span.rollover1 {
	background:url(../images/icon/play.png) center no-repeat rgba(138, 184, 219, 0.59);
	cursor: pointer;
	height: 223px;
    width: 350px;
	display: block;
	position: absolute;
	z-index: 9999;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.project-eff{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position:relative;
}
/*--gallery end here--*/
/*--feature start here--*/
.features-top {
  text-align: center;
  padding: 0em 0em 4em 0em;
}
.features {
  padding: 0em 0em 4em 0em;
}
.features-top h3 {
  font-size: 3.5em;
  color:#E67448;
  margin-bottom: 0.2em;
  font-family: 'Abel-Regular';
}
.features-top p {
  font-size: 1em;
  color: #919191;
  line-height: 1.8em;
  width: 60%;
  margin: 0 auto;
}
.feats-bot1 {
  margin-bottom: 3em;
}
.feat-text h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  color:#000000;
 font-family: 'Abel-Regular';
}
.feat-text h4 a{
  color: #000;
}
.feat-text h4 a:hover{
  text-decoration:none;
}
.feat-text p {
  font-size: 1em;
  line-height: 1.7em;
  color: #767676;
}
/*--feature end here--*/
.footer{
    background-color: #101010;
    text-align: center;
}
.footer .container .row{
    margin: 0.5em auto;
}
.footer .container .row div p{
    color: #fff;
    text-align: center;
}
#scrolltotop{
    width:54px;
    height:54px;
    border:0;
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
.banner-bottom h3 {
  font-size: 2em;
}
.banner-bottom p {
      font-size: 0.8em;
  }
}
@media(max-width:1280px){
.project-eff:hover span.rollover1 {
        height: 222px;
        width: 350px;
    }
.banner {
  min-height: 670px;	
}
.banner-bottom {
  padding: 14em 0em 0em 17em;
}
}
@media(max-width:1025px){
.ser-grid{
    border: none;
}
.header-frist h3{
    font-size: 1.6em;
}
.header-frist p{
    font-size: 1em;
}
.banner-bottom h3 {
  font-size: 1.5em;
}
.banner-bottom p {
    font-size: 0.75em;
}
.header-frist{
    min-height: 580px;
}
.banner {
  min-height: 600px;
}
.banner-bottom {
  padding: 9.5em 0em 0em 10em;
}
.about {
  padding: 3em 0em 3em 0em;
}
.about-top h4 {
  font-size: 1.6em;
  width: 100%;
}
.about-top p {
  width: 93%;
}
.about-top h2 {
  margin: 0em 0em 0.25em 0em;
}

.services {
  padding: 3em 0em 2em 0em;
}
.ser-grid p {
  width: 80%;
}
.testimony {
  padding: 3em 0em 3em 0em;
}
.gallery {
  padding: 3em 0em 3em 0em;
}
.project-eff:hover span.rollover1 {
  /*height: 180px;*/
  /*width: 283px;*/
    width:  283px ;
    height: 179px;
}
.feat-text h4 {
  font-size: 1.05em;
  margin-bottom: 0.1em;
  line-height: 1.5em;
}
.feat-text p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.features {
  padding: 0em 0em 1.5em 0em;
}

}
@media(max-width:990px){
.header-frist h3{
    font-size: 1.3em;
}
.header-frist p{
    font-size: 1em;
}
}
@media(max-width:992px) {
    .project-eff:hover span.rollover1 {
        /*height: 180px;*/
        /*width: 283px;*/
        width: 210px;
        height: 134px;
    }
}
@media(max-width:767px){
#video{
    width: auto;
    height: auto;
}
.header-main {
    padding: 0.2em 0em 0.2em 0em;
}
.logo {
    width: 50%;
}
.top-nav {
    width: 50%;
    text-align: right;
}
span.menu{
		display: block;
		text-align: right;
		padding: 5px 0px 0px 0px;
		cursor: pointer;
		color: #E74C3C;
		font-size: 16px;
		font-weight: 700;
		position:relative;
}
.top-nav ul.res{
	 display:none;
	 padding:0px;
}
.top-nav ul.res {
		padding: 0;
		margin:1em 0em 0em 0em;
		z-index: 9999;
		position: absolute;
		width: 100%;
		left:0;
}
.top-nav ul.res li{
		display: block;
		text-align: center;
		/*background:#B28E40;*/
        background: #0066cb;
		margin: 0;
	    width: 100%;
		padding: 0em;
}
.top-nav ul.res li a {
		font-size: 16px;
		padding: 0.6em 0;
		color: #fff;
		display: block;
		border: none;
        text-align: center;
        margin: 0em;
}
ul.res li a:hover,ul.res li a.active{
	color:#000;
}
.header-frist{
    min-height: 420px;
}
.banner {
  min-height: 430px;
}
.banner-bottom {
  padding: 5em 0em 0em 8.5em;
}
.banner-bottom h3 {
  font-size: 1.3em;
}
.banner-bottom p {
    font-size: 0.65em;
}
.about-top h2 {
  font-size: 2.8em;
}
.about-top h4 {
  font-size: 1.5em;
}
.about-grid {
  border: 1px solid #eeeeee;
  float: left;
  width: 33%;
  padding: 0px 10px 0px 0px;
}
.about-grid h3 {
  font-size: 1.3em;
  margin: 0em 0em 0.6em 0em;
}
.about-grid p {
  font-size: 0.85em;
}

.services-top h3 {
  font-size: 1.5em;
}
.services-top p {
  width: 80%;
}
.ser-grid {
  float: left;
  width: 100%;
}
.ser-grid p {
  width: 100%;
  font-size: 0.9em;
}
.testimony-right {
  margin: 0em 0em 0em 0em;
}
.testimony-right {
  width: 65%;
  margin: 0em 0em 0em 0em;
}
.testimony-left {
  width: 25%;
}
.rslides img {
  width: 80%;
}
.callbacks_nav {
  left: 87%;
}
.testimony-right p {
  font-size: 0.905em;
}
.testimony {
  min-height: 270px;
}
.gallery-grid {
  float: left;
  width: 33%;
}
.project-eff:hover span.rollover1 {
  height: 142px;
  width: 224px;
}
.features-top {
  padding: 0em 0em 3em 0em;
}
.feat-grid {
  float: left;
  /*width: 50%;*/
  width: auto;
}
.feat-img {
  padding: 0px;
}
.feat-text {
  padding: 0.8em 0em 0em 0.2em;
}
.feats-bot1 {
  margin-bottom: 2em;
}
.logo h1 {
  font-size: 1.2em;
}
.cl-effect-16 a::before {
  color: #000;
}
.feat-text h4 {
  font-size: 1.3em;
}
.why-us-right img {
  width: 100%;
}
.footer .container .row div p{
    text-align: center;
}

}
@media(max-width:725px){
.project-eff:hover span.rollover1 {
    height: 132x;
    width: 211px;
}
}
@media(max-width:640px){
.bg-primary .container>.row div>img{
    width: 30px;
    height: 30px;
}
.bg-primary .container>.row div p{
    font-size: 0.5em;
}
.about-grid h3 {
  font-size: 1em;	
}
.about-top h4 {
  font-size: 1.25em;
}
.header-frist{
    min-height: 360px;
}
.banner {
  min-height: 370px;
}
.banner-bottom {
  padding: 3.9em 0em 0em 7em;
}
.banner-bottom h3 {
  font-size: 1.15em;
}
.banner-bottom p {
    font-size: 0.55em;
}

.ser-grid {
  padding: 0px 10px 0px 0px;
}
.ser-grid p {
  font-size: 0.85em;
}
.ser-grid h4 {
  font-size: 1.3em;
  margin: 0.1em 0em 0.2em 0em;
}
.ftr-grd ul li a span {
  margin: 0em 0.3em 0em 0em;
}
.ftr-grd h3 {
  font-size: 1.35em;
}
.ftr-grd p {
  font-size: 0.85em;
}
.add1 p {
  font-size: 12.3px;
}
.add1 span {
  font-size: 1.45em;
}
.gallery-grid {
  padding: 0px 10px 0px 0px;
}
.project-eff:hover span.rollover1 {
  width: 184px;
  height: 117px;
}
.gallery-grid {
  padding: 0px 10px 0px 0px;
  margin: 0em 0em 0.8em 0em;
}
}
@media (max-width:600px) {
.project-eff:hover span.rollover1 {
    height: 108px;
    width: 171px;
}
}
@media(max-width:480px){
.banner-bottom h3 {
  font-size: 0.92em;
}
.banner-bottom p {
    font-size: 0.46em;
}
.banner {
  min-height: 300px;
}
.header-frist{
    min-height: 300px;
}
.banner-bottom {
  padding: 3em 0em 0em 4em;
}
.logo h1 {
  font-size: 0.8em;
}
span.menu {
  padding: 3px 0px 0px 0px;
}
span.menu img {
  width: 10%;
}
.about {
  padding: 2em 0em 2em 0em;
}
.about-top h2 {
  font-size: 2.3em;
}
.about-top h4 {
  font-size: 1.1em;
}
.about-top p {
  width: 100%;
  font-size: 0.9em;
}
.about-grid {
  float: none;
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.about-top {
  padding: 0em 0em 1.5em 0em;
}
.about-grid {
  padding: 0px 0px 15px 0px;
}
.top-nav ul.res{
    margin-top: 1.5em;
}
.services {
padding: 1.5em 0em 1em 0em;
}
.services-top h3 {
  font-size: 1.2em;
}
.services-top p {
  width: 100%;
  font-size: 0.9em;
}
.services-top {
  padding: 0em 0em 3em 0em;
}
.testimony-right {
  float: right;
  width: 100%;
  margin: 1em 0em 0em 0em;
  text-align: center;
}
.testimony-left {
  width: 100%;
  float: none;
  border-right: none;
}
.ser-icon {
  padding: 0.5em 0.5em;
   margin: 0em 0em 0.8em 0em;
}
span.glyphicon.glyphicon-cog {
  font-size: 1.5em;
}
span.glyphicon.glyphicon-erase {
  font-size: 1.5em;
}
span.glyphicon.glyphicon-film {
  font-size: 1.5em;
}
span.glyphicon.glyphicon-music {
  font-size: 1.5em;
}
span.glyphicon.glyphicon-picture{
  font-size: 1.5em;
}
span.glyphicon.glyphicon-print {
  font-size: 1.5em;
}
.ser-grid {
  float: left;
  width: 100%;
}
.rslides img {
  width: 30%;
  margin: 0 auto;
  float: none;
}
.testimony {
  padding: 2em 0em 2em 0em;
}
.gallery {
  padding: 2em 0em 2em 0em;
}
.services-top {
  padding: 0em 0em 2em 0em;
}
.gallery-grid {
  width: 50%;
}
.project-eff:hover span.rollover1 {
  height: 243px;
  width: 383px;
}
.features-top h3 {
  font-size: 2.3em;
}
.features-top p {
  width: 100%;
  font-size: 0.9em;
}
.features-top {
  padding: 0em 0em 2em 0em;
}
.feat-text h4 {
  padding-left: 0.5em;
  font-size: 1.1em;
  line-height: 1.3em;
}
.feat-text p{
  padding-left: 1em;
}
.feat-text p:last-child{
    margin-bottom: 1em;
}
.features {
  padding: 0em 0em 1em 0em;
}
}
@media(max-width:420px){
.bg-primary .container>.row div>img{
    width: 20px;
    height: 20px;
}
.bg-primary .container>.row div p{
    font-size: 0.5px;
}
}
@media (max-width: 376px) {
#scrolltotop{
    width:35px;
    height:35px;
    border:0;
}
.project-eff:hover span.rollover1 {
    height: 218px;
    width: 343px;
}
.header-frist h3{
    font-size: 1em;
}
.header-frist p{
    font-size: 0.75em;
}
}
@media(max-width:320px){
.logo {
  width: 60%;
}
span.menu img {
  width: 18%;
  padding: 2px 0px 0px 0px;
}
.logo h1 {
  font-size: 0.5em;
}
.top-nav {
  width: 40%;
}
.header-main {
  padding: 0.2em 0em 0.2em 0em;
}
.banner {
  min-height: 230px;
}
.header-frist{
    min-height: 230px;
}
.banner-bottom {
  padding: 2.5em 0em 0em 3.5em;
}
.about {
  padding: 1em 0em 0.5em 0em;
}
.about-top h2 {
  font-size: 2em;
}
.about-top h4 {
  font-size: 0.93em;
  margin: 0em auto 0em;
}
.about-top {
  padding: 0em 0em 1.1em 0em;
}
.about-grid h3 {
  font-size: 1.1em;
  margin: 0em 0em 0.3em 0em;
}

.services-top h3 {
  font-size: 0.8em;
}
.services {
  padding: 1em 0em 0em 0em;
}
.services-top {
  padding: 0em 0em 1.5em 0em;
}
.testimony {
  padding: 1em 0em 1em 0em;
}
.testimony {
  padding: 1em 0em 1em 0em;
}
span.glyphicon.glyphicon-comment {
  font-size: 1.7em;
}
.testimony-right p {
  font-size: 0.8em;
}
.gallery {
  padding: 1em 0em 1em 0em;
}
.project-eff:hover span.rollover1 {
  /*height: 273px;*/
  /*width: 127px;*/
    height: 183px;
    width: 288px;
    /*background-size: 100%;*/
}
.features-top h3 {
  font-size: 2em;
}
.features-top {
  padding: 0em 0em 1em 0em;
}
.feat-grid {
  float: none;
  width: 100%;
  padding: 0em;
  padding: 0em 0em 1em 0em;
}
.feats-bot1 {
  margin-bottom: 0em;
}
.header-frist h3{
    font-size: 0.8em;
}
.header-frist p{
    font-size: 0.5em;
}
}